<html>
<head>
    <title>Procweb</title>
    <h1>
        Processing on web
    </h1>
</head>
<body>
<form method="POST" id="rendfrm" name="renderform">
    <h2>Your processing code     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <text align="center">
            Render
        </text>
    </h2>
    <input type="submit" id="send" value="render">
    <div>
        <textarea cols="500 px" rows="300 px" id="text_code" name="text_code" style="width:450px; height:525px; margin:0px;"></textarea>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <canvas width="400" height="505" style="border:1px solid #000000;">
        </canvas>
        <textarea cols="500 px" rows="300 px" id="text_show" style="width:450px; height:525px; margin:0px;">1: {{text_show_new}}</textarea>
    </div>
{% csrf_token %}
</form>
</body>
</html>
